@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
	font-family: "Lato";
	color: #1E212C;
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
/* Обмежуючий контейнер */
[class*="__container"]{
	max-width: 1275px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top:15px;
}
.page {}
.page__container {
display: flex;
gap: 105px;
}
.page__image {
flex: 0 1 35%;
align-self: center;
}
.page__image img {
width: 100%;
padding-right: 15px;
}
.page__content {
flex: 0 0 50%;
align-self: center;
display: flex;
flex-direction: column;
gap: 25px;
align-items: flex-start;
flex-wrap: wrap;
}
.page__subtitle {
font-weight: 700;
line-height: 24px;
letter-spacing: 1px;
line-height: 150%;
text-transform: uppercase;
color: #1E212C;
}
.page__title {
font-weight: 900;
font-size: 46px;
line-height: 130%;
margin-bottom: 40px;
}
.forms {}

.forms__part1 {}

.page__form {}

.form-name {
display: flex;
flex-direction: column;
gap: 25px;
margin-bottom: 15px;
}
.form-name__line{
display: flex;
gap: 25px;
}
.form-name__line2 {
flex: 0 1 50%;
}
.form {
width: 100%;
background: #FFFFFF;
border: 1px solid #D7DADD;
border-radius: 4px;
align-self: center;
padding-left: 16px;
padding-top: 13px;
padding-bottom: 13px;
min-height: 52px;
min-width: 340px;
margin-top: 8px;
}
.label {
color: #424551;
min-height: 34px;
min-width: 340px;
}
.textarea__text{
color: #9A9CA5;
background: #FFFFFF;
border: 1px solid #D7DADD;
border-radius: 4px;
resize: none;
padding-top: 13px;
padding-left: 16px;
min-height: 162px;
min-width: 705px;
margin-top: 8px;
}
.page__checkbox {
display: flex;
margin-top: 48px;
}
.page_button {
flex: 0 0 50%;
}
.checkbox__input{
flex: 0 0 50%;
}
.button {
min-height: 52px;
min-width: 340px;
cursor: pointer;
}
.checkbox {
position: relative;
}

.checkbox__input {
position: absolute;
min-width: 0;
height: 0;
opacity: 0;
background-color: transparent;
}
.checkbox__input:focus+.checkbox__label::before {
background-color: transparent;
border-radius: 4px;
border: 1px solid #9A9CA5;
}

.checkbox__input:checked+.checkbox__label::before {
background: #c92e26 url('../img/check.svg') center / 70% no-repeat;
border-radius: 4px;
}

.checkbox__label {
cursor: pointer;
display: inline-flex;
gap: 10px;
line-height: 160%;
margin-right: 20px;
}

.checkbox__label::before {
content: "";
flex: 0 0 15px;
height: 15px;
width: 15px;
background-color: #FF3F3A;
border-radius: 4px;
}
.footer {
padding: 20px;
}
.radio{
position: relative;
}
.radio__input{
position: absolute;
min-width: 0;
height: 0;
opacity: 0;
}
.radio__input:focus + .radio__label::before{
background-color: transparent;
border: 1px solid #9A9CA5;
}
.radio__input:checked + .radio__label::before{
background-color: #c92e26;
}
.radio__label {
cursor: pointer;
display: inline-flex;
gap: 10px;
padding: 15px;
}
.radio__label::before{
content: "";
flex: 0 0 10px;
height: 10px;
width: 10px;
border: 1px solid #9A9CA5;
border-radius: 50%;
}
.radio__text{
align-self: center;
}
